In [115]:
import pandas as pd
import numpy as np
import sklearn

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import accuracy_score

In [36]:
df = pd.read_csv('winequality-red.csv')

In [39]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [161]:
X = df.drop(columns = 'quality', axis=1)
y = df['quality']

In [141]:
sc = StandardScaler()
X = sc.fit_transform(X)

In [162]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.3, random_state=21)

In [149]:
logreg = LogisticRegression(random_state=16, max_iter=6000)

In [150]:
logreg.fit(X_train, y_train)

LogisticRegression(max_iter=6000, random_state=16)

In [151]:
logreg.score(X_test,y_test)

0.5833333333333334

In [152]:
logreg.score(X_train,y_train)

0.6023235031277927

In [154]:
y_pred = logreg.predict(X_test)

In [155]:
result = pd.DataFrame({'Actual' : y_test, 'Predicted' : y_pred})
result

      Actual  Predicted
275        6          6
551        6          6
893        5          5
1535       6          5
494        6          7
...      ...        ...
3          6          5
686        5          5
528        6          5
623        6          6
518        6          7

[480 rows x 2 columns]