In [1]:
import pandas as pd

In [2]:
X_train = pd.read_csv('./data/X_train.csv')
y_train = pd.read_csv('./data/y_train.csv')

In [4]:
pd.concat([X_train, y_train], axis=1)

,Unnamed: 0,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,124,7.8,0.500,0.17,1.6,0.082,21.0,102.0,0.9960,3.39,0.48,9.5,NaN
1,563,7.6,0.290,0.49,2.7,0.092,25.0,60.0,0.9971,3.31,0.61,10.1,NaN
2,670,6.9,0.400,0.24,2.5,0.083,30.0,45.0,0.9959,3.26,0.58,10.0,NaN
3,240,8.9,0.635,0.37,1.7,0.263,5.0,62.0,0.9971,3.00,1.09,9.3,NaN
4,481,9.4,0.300,0.56,2.8,0.080,6.0,17.0,0.9964,3.15,0.92,11.7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
954,620,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
955,1587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
956,1211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
957,1394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
958,760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0